<ul class="breadcrumb">
    <% if (pagination.filtered == 0) {%>
    <li><a href="/categories/?">Todas las Categorías</a></li>

    <% }else if (pagination.filtered == 1){ %>

   <% /* %>
    <li><a href="/categories/?">Todas las Categorías</a></li>
   <% */ %>
    
    <li><a
            href="/categories/filter/<%=rutaBreadcrumb.categoryMenuId%>"><%=rutaBreadcrumb.categoryMenuName%></a>
    </li>

    <!-- 1/6 -->
    <li><a
            href="/categories/filter/<%=rutaBreadcrumb.categoryMenuId%>/<%=rutaBreadcrumb.subcategoryMenuId%>/"><%=rutaBreadcrumb.subcategoryMenuName%></a>
    </li>
    
    <% }else{ %>
    <li><a href="/categories/?">Todas las Categorías</a></li>

    <% }%>



</ul>