<div class="container-fluid">

  <div class="row titulo">
    <h5>Nueva Temporada</h5>
  </div>

</div>

<div class="container-fluid centroCarrousel">

  <div class="row">
    <div id="galeriaNuevaTemp" class="carousel slide" data-ride="carousel">

      <!-- Indicators 

                      <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1"></li>
                      <li data-target="#demo" data-slide-to="2"></li>
                      </ul>

                      -->

      <!-- The slideshow -->

      <div class="container carousel-inner no-padding">
        <div class="carousel-item active">
          <% for (let i=0; i < 4; i++) { %>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <a href="#"> <img src="/images/articulos/<%= productosNewSeason[i].img%>"></a>
            <p class="descripcionItem"><%= productosNewSeason[i].name%></p>
            <p class="precioItem"><%= productosNewSeason[i].price%></p>
          </div>
          <% } %>
        </div>

        <div class="carousel-item">
          <% for (let i=4; i < 8; i++) { %>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <a href="#"> <img src="/images/articulos/<%= productosNewSeason[i].img%>"> </a>
            <p class="descripcionItem"><%= productosNewSeason[i].name%></p>
            <p class="precioItem"><%= productosNewSeason[i].price%></p>
          </div>
          <% } %>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#galeriaNuevaTemp" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#galeriaNuevaTemp" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

     </div>

</div>
</div>