<header>
    <div class="container-fluid">
        <div class="row banner-oferta">
            <div class="col-12 texto-oferta">
                <marquee>6 cuotas sin interes en tus compras superiores a $1500</marquee>
            </div>
        </div>
        <div class="row row-logo">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"></div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-4 col-xl-4 logo">
                <a href="/" class="linkLogo">
                    <img src="/images/header/logoMannequin.png" alt="logoMannequin">
                </a>
            </div>

            <!--Search-->
            <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 busqueda">
                <form class="form-busqueda" action="/search" method='GET'>
                    <input type="search" placeholder="Buscar..." aria-label="Search" name="keywords">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>

    <!-- Nav -->


    <nav class="navbar navbar-expand-lg color">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 centrado">
                <% for (item of menu) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="<%= item.category.idproduct_categories%>" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <%= item.category.name %>
                    </a>

                    <div class="dropdown-menu primerDropdown" aria-labelledby="navbarDropdownMenuLink">
                        <% for (subcategory of item.subcategories) { %>
                        <a class="dropdown-item" href="/categories/filter/<%= item.category.idproduct_categories%>/<%= subcategory.idproduct_categories%>/1"><%= subcategory.name %></a>
                        <% } %>
                    </div>
                </li>
                <% } %>
            </ul>
            
            <div class="col-menu-icons">
                <% if(typeof user != 'undefined'){ %>
                    <ul style="margin:0px; padding:0px; float:left;">
                        <li class="nav-item dropdown">
                            <a class="nav-link" style="font-size: 12px;" href="<%= user.idusers%>" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                hola! <%= user.name %>
                            </a>
                            
                            <div class="dropdown-menu primerDropdown" aria-labelledby="navbarDropdownMenuLink"> 
                                <a class="dropdown-item" href="/profile/<%= user.idusers%>">Perfil</a>
                                <a class="dropdown-item" href="/register/logout">Salir</a>
                            </div>
                        </li>
                    </ul>
                    <a href="/profile/<%= user.idusers%>"><i class="fa fa-heart"></i></a>
                    <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
                <% }else{ %>
                    <a href="/register"><i class="fa fa-user"></i></a>
                <% } %>
            </div>

    </nav>

</header>