<div class="divCategory">
  <h4>FILTER BY CATEGORY</h4>
  <ul id="myUL navCategoriesArrow">
    <% for (item of menu) { %>
    <li><span class="caret"><%= item.category.name %></span>
      <ul class="nested">
        <% for (subcategory of item.subcategories) {%>
        <li><a href="/categories/filter/<%= item.category.idproduct_categories%>/<%= subcategory.idproduct_categories%>/?page=<%=1%>&size=<%=8%>"><%= subcategory.name %></a></li>
        <% } %>
      </ul>
    </li>
    <% } %>
  </ul>
</div>
<!-- <div class="divCategory">
  <h4>FILTER BY STYLE</h4>
  <ul id="navCategoriesBox">
    <li><input type="checkbox" id="casual" name="casual" value="casual">
      <label for="casual">Casual</label><br></li>
    <li><input type="checkbox" id="boheme" name="boheme" value="boheme">
      <label for="boheme">Boheme</label><br></li>
  </ul>
</div> -->
<script>
  var toggler = document.getElementsByClassName("caret");
  var i;

  for (i = 0; i < toggler.length; i++) {
    toggler[i].addEventListener("click", function () {
      this.parentElement.querySelector(".nested").classList.toggle("active");
      this.classList.toggle("caret-down");
    });
  }

</script>