<div class="col-12 pagination">
  <a href="/categories/filter/<%= pagination.category %>/<%= pagination.subcategory %>/<%= pagination.page_number === 1 ? '1' : pagination.page_number-1 %>">&laquo;</a>
  <% for (var k=1; k<=pagination.pages; k++) { %>
  <a <% if (pagination.page_number == k) {%> class="active"<%} else {""} %> href="/categories/filter/<%= pagination.category %>/<%= pagination.subcategory %>/<%=k%>"> <%= k %></a>
  <% } %>
  <a href="/categories/filter/<%= pagination.category %>/<%= pagination.subcategory %>/<%= pagination.page_number === pagination.pages ? pagination.pages : pagination.page_number+1 %>">&raquo;</a>
</div>
