<script>
    function seleccionarColor(id, rutaImagen, color) {
        document.getElementById('foto' + id).src = rutaImagen;
        document.getElementById('elegido' + id).value = color;
        document.getElementById('nombreElegido' + id).innerHTML = "Color elegido: " + color;
    }
    function favoritos(id) {
        var objFavorito = document.getElementById('favorito' + id);
        if (objFavorito.value == 1) {
            objFavorito.className = "heart-carrito far fa-heart";
            objFavorito.value = 0;
        } else {
            objFavorito.className = "heart-carrito fas fa-heart";
            objFavorito.value = 1;
        }
    }

</script>

<div class="card-group">
    <% if(products.length > 0){ %>
        <% var grupoAnterior = 0;%>
        <% var articuloCombinado = 0; %>
        <% for(let i = 0; i<products.length; i++) { %>
            <% if(products[i].group != grupoAnterior){%>
                <div class="product-box" id="<%=products[i].idproducts%>">
                    <div class="card" style="width: 18rem;">
                        <div class="cardImgContainer">
                            <% if(typeof products[i].images[0] != 'undefined') { %>
                                <img class="card-img-top" src="/images/articulos/<%= products[i].images[0].file_name %>" alt=""
                                id="foto<%= products[i].idproducts%>" onclick="window.location.href='/detalleProducto/<%= products[i].idproducts%>'" >
                            <% }else{ %>
                                <img class="card-img-top" src="/images/articulos/no_img.png" alt=""
                                    id="foto<%= products[i].idproducts%>"  onclick="window.location.href='/detalleProducto/<%= products[i].idproducts%>'" width="220" height="292"> 
                            <% }%>
                            <div class="container-bag">
                                <button class="addBag" id="addBag<%=products[i].idproducts%>">Add to basket</button>
                                
                                <script>
                                    var botonBag = document.getElementById("addBag<%=products[i].idproducts%>")
                                    botonBag.addEventListener("click",function(){
                                        fetch("http://localhost:3000/api/products/cart",{
                                                method: 'POST',
                                                body: JSON.stringify({artId: <%=products[i].idproducts%>, userId: <%= user.idusers %>}),
                                                headers: {
                                                'Content-Type': 'application/json'
                                                }
                                        })
                                    })
                                </script>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="productname<%=products[i].idproducts%>"><%= products[i].name %> </h5>
                            <span class="precio-item-carrito" id="productprice<%=products[i].idproducts%>">$ <%= thousandGenerator(products[i].price) %></span>
                            <div class="barra-iconos-cat">
                                <div class="selector-color-carrito">
                                    <script>
                                        var articuloPrincipal = document.getElementById(<%=products[i].idproducts%>)
                                        var coloresPrincipal = articuloPrincipal.querySelector(".selector-color-carrito")
                                        var botonColor = document.createElement("button");
                                        botonColor.className = "boton-slector-color";
                                        botonColor.style.backgroundColor = "<%=products[i].color%>"
                                        botonColor.id = "botoncolor<%=products[i].idproducts%>"
                                        botonColor.addEventListener("click",function(){
                                            /* Actualizar imagen */
                                            <% if(typeof products[i].images[0] != 'undefined') { %>
                                                var imagenProducto = document.getElementById("foto<%= products[i].idproducts%>");
                                                imagenProducto.src = "/images/articulos/<%= products[i].images[0].file_name %>"
                                                imagenProducto.onclick = function(){ return window.location.assign('/detalleProducto/<%= products[i].idproducts%>')}
                                                <% }else{ %>
                                                    document.getElementById("foto<%= products[i].idproducts%>").src = "/images/articulos/no_img.png"           
                                                <% }%>
                                            /* Actualizar nombre */
                                            var nombre = document.getElementById("productname<%=products[i].idproducts %>");
                                            nombre.innerHTML = "<%= products[i].name %>"
                                            
                                            /* Actualizar precio */
                                            var precio = document.getElementById("productprice<%=products[i].idproducts %>");
                                            precio.innerHTML = "$ <%= thousandGenerator(products[i].price) %>"
                                        })
                                        coloresPrincipal.appendChild(botonColor);
                                    </script>
                                </div>
                                <div class="botones-fav-del-carrito">
                                    <div class="boton-favorito-carrito">
                                        <button class="heart-carrito far fa-heart" value="0"
                                            onclick="favoritos('<%=products[i].idproducts%>')"
                                            id="favorito<%=products[i].idproducts%>"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% articuloCombinado = products[i].idproducts %>
            <%}else{%>
                <script>
                    var articulo = document.getElementById(<%=articuloCombinado%>)
                    /* Contenedor de colores*/
                    var colores = articulo.querySelector(".selector-color-carrito")
                    /* Boton de color */
                    var botonColor = document.createElement("button");
                    botonColor.className = "boton-slector-color";
                    botonColor.style.backgroundColor = "<%=products[i].color%>"
                    botonColor.id = "botoncolor<%=products[i].idproducts%>"
                    botonColor.addEventListener("click",function(){
                        /* Actualizar imagen */
                        <% if(typeof products[i].images[0] != 'undefined') { %>
                                var imagenProducto = document.getElementById("foto<%= articuloCombinado%>");
                                imagenProducto.src = "/images/articulos/<%= products[i].images[0].file_name %>";
                                imagenProducto.onclick = function(){window.location.assign('/detalleProducto/<%= products[i].idproducts%>')};
                            <% }else{ %>
                                var imagenProducto =document.getElementById("foto<%= articuloCombinado%>");
                                imagenProducto.src = "/images/articulos/no_img.png";
                                imagenProducto.onclick = function(){window.location.assign('/detalleProducto/<%= products[i].idproducts%>')};      
                            <% }%>
                        /* Actualizar nombre */
                        var nombre = document.getElementById("productname<%=articuloCombinado %>");
                        nombre.innerHTML = "<%= products[i].name %>";
                        
                        /* Actualizar precio */
                        var precio = document.getElementById("productprice<%=articuloCombinado %>");
                        precio.innerHTML = "$ <%= thousandGenerator(products[i].price) %>";
                    })
                    colores.appendChild(botonColor);
                </script>
            <%}%>
            <% grupoAnterior = products[i].group %>
        <%}%>
    <% }else{ %>
        <div class="product-box">
            <img src="/images/otras/not_found.jpg" alt="">
            <br>
            <h2>Tu búsqueda no arrojó resultados.</h2>
            <h3><a href="/categories/?">Volver</a></h3>
    <% }%>
</div>