<script>
    function seleccionarColor(id, rutaImagen, color) {
        document.getElementById('foto' + id).src = rutaImagen;
        document.getElementById('elegido' + id).value = color;
        document.getElementById('nombreElegido' + id).innerHTML = "Color elegido: " + color;
    }
    function favoritos(id) {
        var objFavorito = document.getElementById('favorito' + id);
        if (objFavorito.value == 1) {
            objFavorito.className = "heart-carrito far fa-heart";
            objFavorito.value = 0;
        } else {
            objFavorito.className = "heart-carrito fas fa-heart";
            objFavorito.value = 1;
        }
    }

</script>

<div class="card-group">
    <% for(let i = 0; i<products.length; i++) { %>
    <div class="product-box">
        <div class="card" style="width: 18rem;">
            <div class="cardImgContainer">

                <% if(typeof products[i].images[0] != 'undefined') { %>
                <img class="card-img-top" src="/images/articulos/<%= products[i].images[0].file_name %>" alt=""
                    id="foto<%= products[i].idproducts%>"  onclick="window.location.href='/detalleProducto'">
                    <% } %>
                <div class="container-bag">
                    <button class="addBag" onclick="window.location.href='/carrito'">Add to basket</button>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= products[i].name %></h5>
                <span class="precio-item-carrito">$ <%= thousandGenerator(products[i].price) %></span>
                <div class="barra-iconos-cat">
                    <div class="selector-color-carrito">
                        <button class="boton-slector-color" style="background-color: <%=products[i].color%>"
                            onclick=""></button>

                        <input type="hidden" value="" id="elegido<%=products[i].idproducts%>">
                    </div>
                    <div class="botones-fav-del-carrito">
                        <div class="boton-favorito-carrito">
                            <button class="heart-carrito far fa-heart" value="0"
                                onclick="favoritos('<%=products[i].idproducts%>')"
                                id="favorito<%=products[i].idproducts%>"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>