<script>
    function seleccionarColor(id, rutaImagen, color) {
        document.getElementById('foto' + id).src = rutaImagen;
        document.getElementById('elegido' + id).value = color;
        document.getElementById('nombreElegido' + id).innerHTML = "Color elegido: " + color;
    }
    function favoritos(id) {
        var objFavorito = document.getElementById('favorito' + id);
        if (objFavorito.value == 1) {
            objFavorito.className = "heart-carrito far fa-heart";
            objFavorito.value = 0;
        } else {
            objFavorito.className = "heart-carrito fas fa-heart";
            objFavorito.value = 1;
        }
    }

</script>

<div class="card-group">
    <% for(product of productsOnSite) { %>
    <div class="product-box">
        <div class="card" style="width: 18rem;">
            <div class="cardImgContainer">
                <img class="card-img-top" src="/images/articulos/<%= product.image[0] %>" alt=""
                    id="foto<%= product.id %>" onclick="window.location.href='/detalleProducto'">
                <div class="container-bag">
                    <button class="addBag" onclick="window.location.href='/carrito'">Add to basket</button>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <span class="precio-item-carrito">$ <%= thousandGenerator(product.price) %></span>
                <div class="barra-iconos-cat">
                    <div class="selector-color-carrito">
                        <% for(let i=0; i<product.colors.length; i++) { %>
                        
                        <button class="boton-slector-color" style="background-color: <%=product.colors[i][0].hexa %>;"
                            onclick="seleccionarColor('<%= product.id %>','/images/articulos/<%= product.image[i] %>','<%=product.colors[i][0].name %>')"></button>
                        <% } %>
                        <input type="hidden" value="" id="elegido<%=product.id%>">
                    </div>
                    <div class="botones-fav-del-carrito">
                        <div class="boton-favorito-carrito">
                            <button class="heart-carrito far fa-heart" value="0"
                                onclick="favoritos('<%=product.id%>')"
                                id="favorito<%=product.id%>"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>