<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container-fluid">
        <%- include('./partials/headerCRUD.ejs') %>
      <div class="contenido">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">

                        <div id="accordion">
                            <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn" aria-expanded="true">
                                    Nuevo producto (Codigo: <%= articuloId %>)
                                    </button>
                                </h5>
                            </div>
                              <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Informacion del producto  
                                  </button>
                                </h5>
                              </div>
                          
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <form method="POST" action="/crudIndex/product/new">
                                        <div class="form-row">
                                            <input type="hidden" value="<%= articuloId %>" name="idArticulo">
                                            <div class="form-group col-md-6">
                                              <label for="inputNombre4">Nombre</label>
                                              <input type="text" class="form-control" id="inputNombre4" placeholder="Nombre" name="name" value="">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputPrecio4">Precio</label>
                                                <label class="sr-only" for="inputPrecio4">Precio</label>
                                                <div class="input-group mb-2">
                                                  <div class="input-group-prepend">
                                                    <div class="input-group-text">$</div>
                                                  </div>
                                                  <input type="text" class="form-control" id="inputPrecio4" placeholder="000000.00" name="price" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                              <label for="categories">Categoria</label>
                                              <select id="categories" class="form-control" name="category">
                                                  <option selected>Seleccionar...</option>
                                                  <% for(categoria of categorias){%>
                                                    <option value="<%= categoria.idproduct_categories %>"><%= categoria.name %></option>
                                                <% }%>

                                              </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputDescuento4">Descuento</label>
                                                <label class="sr-only" for="inputDescuento4">Descuento</label>
                                                <div class="input-group mb-2">
                                                  <div class="input-group-prepend">
                                                    <div class="input-group-text">%</div>
                                                  </div>
                                                  <input type="number" min="0" max="100" class="form-control" id="inputDescuento4" placeholder="0" name ="discount" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                              <label for="subcategories">Subcategoria</label>
                                              <select id="subcategories" class="form-control" name="subcategory" disabled="disabled">
                                                <option selected>Seleccione una categoria...</option>
                                              </select>
                                            </div>
                                        </div>
                                       
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="exampleFormControlTextarea1">Descripcion</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="sale" id="enOferta">
                                                    <label class="custom-control-label" for="enOferta">En oferta</label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="new_season" id="nuevaTemporada" >
                                                    <label class="custom-control-label" for="nuevaTemporada">De nueva temporada</label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="discontinued_timestamp" id="discontinuar" >
                                                    <label class="custom-control-label" for="discontinuar">Discontinuado</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">

                                            </div>
                                            <div class="form-group col-md-4">
                                                <button type="submit" class="btn btn-primary">Guardar informacion del producto</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                              </div>
                            </div>
                    </div>
                    
                    </div>

                        </div>
                        
                    </div>
                    <div class="col-3">

                    </div>
                </div>
        </div>
        <%- include('./partials/scriptBootstrap.ejs') %>
      </div>
    </div>
    <script>
        function truncate(n, len) {
            var ext = n.substring(n.lastIndexOf(".") + 1, n.length).toLowerCase();
            var filename = n.replace('.' + ext,'');
            if(filename.length <= len) {
                return n;
            }
            filename = filename.substr(0, len) + (n.length > len ? '[...]' : '');
            return filename + '.' + ext;
        };
    </script>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var filesNames = "";
          for(let f = 0; f < $(this)[0].files.length; f++){
            filesNames += truncate($(this)[0].files[f].name,10) + ";";
          }
          $(this).siblings(".custom-file-label").addClass("selected").html(filesNames);
        });
    </script>
    <script src="/javascripts/subcategories.js"></script>
  </body>

</html>