<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
   <div class="container-fluid">
		<%- include('./partials/header.ejs') %>

		<script>
			function seleccionarColor(id,rutaImagen,color){
				document.getElementById('foto'+id).src=rutaImagen;
				document.getElementById('elegido'+id).value=color;
				document.getElementById('nombreElegido'+id).innerHTML="Color elegido: "+color;
			}

			function cantidad(id,operacion,maxStock){
				var objCantidad = document.getElementById('cantidadElegido'+id);
				if(operacion ==='sumar'){
					if(objCantidad.value < maxStock){
						objCantidad.value++;
						document.getElementById('stockMax'+id).innerHTML = "";
					}else{
						document.getElementById('stockMax'+id).innerHTML = "stock maximo";
					}
				}else{
					if(objCantidad.value>1){
						document.getElementById('stockMax'+id).innerHTML = "";
						objCantidad.value--;
					}
				}
				this.total();
			}

			function favoritos(id){
				var objFavorito = document.getElementById('favorito'+id);
				if(objFavorito.value == 1){
					objFavorito.className ="heart-carrito far fa-heart";
					objFavorito.value = 0;
				}else{
					objFavorito.className ="heart-carrito fas fa-heart";
					objFavorito.value = 1;
				}
			}

			function borrar(id){
				var objArticulo = document.getElementById(id);
				objArticulo.remove();
			}

			function total(){
				var precios = document.getElementsByClassName("precio-item-carrito");
				var cantidades = document.getElementsByClassName("cantidadCarrito");
				var total = 0;
				var subtotal = 0;
				// console.log(precios[0].innerHTML);
				for(var i = 0; i< precios.length;i++){
					subtotal = Number(precios[i].innerHTML) * Number(cantidades[i].value);
					// alert(cantidades[i].value); 
					total += subtotal;
				}
				//TODO
				var descuento = 0;
				var subtotal = total;
				document.getElementById('descuento').innerHTML = "$"+descuento;
				document.getElementById('subtotal').innerHTML = "$"+subtotal;
				document.getElementById('total').innerHTML = "$"+(descuento + subtotal);
			}
		</script>
		<div class="contenido">
			<div class="container carrito-contenedor-principal">
				<form action="/carrito" method="POST">
				 <div class="row">
				<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8"> 
				   <!-- <span class="tituloArticulos">Articulos<%= data.length %></span> -->
					<% for(articulo of data){ %>
					   <div class="articulo" id="<%= articulo.id %>" name="idArticulo">
					  <div class="row prueba">
						 <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<img class="foto-item-carrito" src="images/articulos/<%= articulo.foto %>" alt="" id="foto<%= articulo.id %>">
						 </div>
						 <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 detalle-item-carrito">
							<span class="precio-item-carrito"><%= articulo.precio %></span>
							<span class="titulo-item-carrito"><%= articulo.nombre %></span>
							<div class="selector-color-carrito">
								<p id="nombreElegido<%= articulo.id %>" class="color-elegido" name="color">Color elegido:<%= articulo.color %></p>
								<button class="boton-slector-color" style="background-color: <%= articulo.color %>"></button>
							</div>
							<div class="botones-detalle-carrito">
								<div class="botones-fav-del-carrito">
									<div class="boton-favorito-carrito">
										<% if(articulo.favorito == 0){ %>
											<button class="heart-carrito fas fa-heart" value="1" onclick="favoritos('<%= articulo.id %>')" id="favorito<%= articulo.id %>" name="favorito"></button>
										<% }else{ %>
											<button class="heart-carrito far fa-heart" value="0" onclick="favoritos('<%= articulo.id %>')" id="favorito<%= articulo.id %>" name="favorito"></button>
										<% } %>	
									</div>
									<div class="boton-borrar-carrito">
										<button class="trash-carrito fas fa-trash-alt" onclick="borrar('<%= articulo.id %>')" name="borrar"></button>
									</div>
								</div>
								<div class="selector-cantidad-carrito">
									<button onclick="cantidad('<%= articulo.id %>','restar',<%= articulo.stock %>)" class="botones-cantidad">-</button>
									<input type="text" value="<%= articulo.cantidad %>" maxlength="3" class="cantidadCarrito" id="cantidadElegido<%= articulo.id %>" name="cantidad"/>
									<button onclick="cantidad('<%= articulo.id %>','sumar', <%= articulo.stock %>) " class="botones-cantidad">+</button>
									<div id="stockMax<%= articulo.id%>"></div>
								</div>
							</div>
						 </div>
					  </div>
						   </div>
					<% } %>
				</div>
				  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
				   <div class="orden-de-compra">
						<label for="code-discount" class="order-titulo">Cupon de descuento</label>
						<input type="text" name="code-discount" id="code-discount" placeholder="32424249" class="order-discount">
						<label for="location" class="order-titulo">Opciones de envio</label>
						<select name="location" id="location" class="order-location">
							<option value="1">(Location)</option>
						</select>
						<select name="type" id="type" class="order-type">
							<option value="1">(Type)</option>
						</select>	
						<label class="order-titulo">Resumen del pedido</label>
						<div class="row order-row">
						   <div class="col-6 order-text-amounts">
							   <span>Subtotal</span>
							   <span>Descuento</span>
							   <span>Total</span>
						   </div>
						   <div class="col-6  order-amounts">
								<span id="subtotal">$0.00</span>
								<span id="descuento">$0.00</span>
								<span id="total" name="total">$0.00</span>
							</div>
						</div>
						<button class="order-send" type="submit">PAGAR</button>
						<label class ="order-titulo">Aceptamos</label>
						<div class="medios-de-pago">
							<img src="/images/Mediosdepago/visa.png" alt="Visa">
							<img src="/images/Mediosdepago/mastercard.png" alt="Master Card">
							<img src="/images/Mediosdepago/cabal.png" alt="Tarjeta Cabal">
							<img src="/images/Mediosdepago/american-express.png" alt="American express">
							<img src="/images/Mediosdepago/naranja.jpg" alt="Tarjeta Naranja">
							<img src="/images/Mediosdepago/mastercard.png" alt="Maestro">
						  </div>
					  </div>
					</div>
				</div>
			</div>
		</form> 
			<%- include('./partials/galeriaNuevaTemporada.ejs') %> 
			<%- include('./partials/footer.ejs') %>
		</div>
   </div>
	<%- include('./partials/scriptBootstrap.ejs') %>
</body>

</html>