<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
   <div class="container-fluid">
		<%- include('./partials/header.ejs') %>

		<script>
			function seleccionarColor(id,rutaImagen,color){
				document.getElementById('foto'+id).src=rutaImagen;
				document.getElementById('elegido'+id).value=color;
				document.getElementById('nombreElegido'+id).innerHTML="Color elegido: "+color;
			}

			function cantidad(id,operacion){
				var objCantidad = document.getElementById('cantidadElegido'+id);
				if(operacion ==='sumar'){
					objCantidad.value++;
				}else{
					if(objCantidad.value>1){
						objCantidad.value--;
					}
				}
			}

			function favoritos(id){
				var objFavorito = document.getElementById('favorito'+id);
				if(objFavorito.value == 1){
					objFavorito.className ="heart-carrito far fa-heart";
					objFavorito.value = 0;
				}else{
					objFavorito.className ="heart-carrito fas fa-heart";
					objFavorito.value = 1;
				}
			}

			function borrar(id){
				var objArticulo = document.getElementById(id);
				objArticulo.remove();
			}
		</script>

		<div class="container carrito-contenedor-principal">
         	<div class="row">
            <div class="col-8"> 
			   <span class="tituloArticulos">Articulos</span>
				<% for(let i = 1; i < 5 ; i++){ %>
               	<div class="articulo" id="<%= i %>">
                  <div class="row">
                     <div class="col-4">
                        <img class="foto-item-carrito" src="http://www.alx-camisetas.com/s/cc_images/cache_2451715654.jpg" alt="" id="foto<%= i %>">
                     </div>
                     <div class="col-8 detalle-item-carrito">
						<span class="precio-item-carrito">$27</span>
						<span class="titulo-item-carrito">Remera algodon</span>
						<div class="selector-color-carrito">
							<p id="nombreElegido<%= i %>" class="color-elegido">Color elegido:</p>
							<button class="boton-slector-color" style="background-color: black;" onmouseover="seleccionarColor('<%= i %>','http://www.alx-camisetas.com/s/cc_images/cache_2451715654.jpg','negro')"></button>
							<button class="boton-slector-color" style="background-color: white;" onmouseover="seleccionarColor('<%= i %>','http://www.alx-camisetas.com/s/cc_images/cache_2451715637.jpg','blanco')"></button>
							<button class="boton-slector-color" style="background-color: red;" onmouseover="seleccionarColor('<%= i %>','http://www.alx-camisetas.com/s/cc_images/cache_2451715642.jpg','rojo')"></button>
							<button class="boton-slector-color" style="background-color: yellow;" onmouseover="seleccionarColor('<%= i %>','http://www.alx-camisetas.com/s/cc_images/cache_2451715653.jpg','amarillo')"></button>
							<button class="boton-slector-color" style="background-color: green;" onmouseover="seleccionarColor('<%= i %>','http://www.alx-camisetas.com/s/cc_images/cache_2451715641.jpg','verde')"></button>
							<button class="boton-slector-color" style="background-color: orangered;" onmouseover="seleccionarColor('<%= i %>','http://www.alx-camisetas.com/s/cc_images/cache_2451715648.jpg','naranja')"></button>
							<input type="hidden" value="" id="elegido<%= i %>">
						</div>
						<div class="botones-detalle-carrito">
							<div class="botones-fav-del-carrito">
								<div class="boton-favorito-carrito">
									<button class="heart-carrito far fa-heart" value="0" onclick="favoritos('<%= i %>')" id="favorito<%= i %>"></button>
								</div>
								<div class="boton-borrar-carrito">
									<button class="trash-carrito fas fa-trash-alt" onclick="borrar('<%= i %>')"></button>
								</div>
							</div>
							<div class="selector-cantidad-carrito">
								<button onclick="cantidad('<%= i %>','restar')" class="botones-cantidad">-</button>
								<input type="text" value="1" maxlength="3" class="cantidadCarrito" id="cantidadElegido<%= i %>"/>
								<button onclick="cantidad('<%= i %>','sumar')" class="botones-cantidad">+</button>
							</div>
						</div>
                     </div>
                  </div>
			   		</div>
				<% } %>
			</div>
          	<div class="col-4">
               <div class="orden-de-compra">
					<label for="code-discount" class="order-titulo">Cupon de descuento</label>
					<input type="text" name="code-discount" id="code-discount" placeholder="32424249" class="order-discount">
					<label for="location" class="order-titulo">Opciones de envio</label>
					<select name="location" id="location" class="order-location">
						<option value="1">(Location)</option>
					</select>
					<select name="type" id="type" class="order-type">
						<option value="1">(Type)</option>
					</select>	
					<label class="order-titulo">Resumen del pedido</label>
					<div class="row order-row">
					   <div class="col-6 order-text-amounts">
						   <span>Subtotal</span>
						   <span>Descuento</span>
						   <span>Total</span>
					   </div>
					   <div class="col-6  order-amounts">
							<span>$125.00</span>
							<span>$0.00</span>
							<span>$125.00</span>
						</div>
					</div>
					<button class="order-send">PAGAR</button>
					<label class ="order-titulo">Aceptamos</label>
					<div class="medios-de-pago">
						<img src="/images/Mediosdepago/visa.png" alt="Visa">
						<img src="/images/Mediosdepago/mastercard.png" alt="Master Card">
						<img src="/images/Mediosdepago/cabal.png" alt="Tarjeta Cabal">
						<img src="/images/Mediosdepago/american-express.png" alt="American express">
						<img src="/images/Mediosdepago/naranja.jpg" alt="Tarjeta Naranja">
                        <img src="/images/Mediosdepago/mastercard.png" alt="Maestro">
          			</div>
          		</div>
      	  	</div>
			</div> 
		</div>
    	<%- include('./partials/footer.ejs') %>
   </div>
	<%- include('./partials/scriptBootstrap.ejs') %>
</body>

</html>