<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
	<script src="/js/funciones.js"></script>
	<script src="/js/latido.js"></script>
	<script>
		function setTotales(){
			fetch("http://localhost:3000/api/products/getTotales",
			{
				method:'POST',
				body: JSON.stringify({ user: <%= user.idusers %>}),
				headers: {
					'Content-type':'application/json'
				}
			})
			.then(respuesta => respuesta.json())
			.then(function(info){
				document.getElementById("total").innerHTML = "$"+info.total
				document.getElementById("subtotal").innerHTML = "$"+info.subtotal
				document.getElementById("descuento").innerHTML = "$"+info.descuentos
			})
	
		}
	</script>
	<script>
		function agregarEvento(idproduct,idsize){
		var selectorCantidad = document.getElementById("cantidadElegido"+idproduct+"s"+idsize);
		selectorCantidad.addEventListener("change",function(){
			console.log("SLECR")
			var data = {
				idproduct: idproduct,
				idsize:idsize,
				iduser: <%= user.idusers %>,
				cantidad: this.value
			}
			console.log("DATA", data);
			// Descuento
			fetch("http://localhost:3000/api/products/discountStock",
			{
				method: 'POST',
				body: JSON.stringify(data),
				headers: {
					'Content-type': 'application/json'
				}
			})
			.then(function(res){
				return res.json()
			})
			.then(function(res){
				console.log('llego esta data',res)
				setTotales()
			})
			//Obtengo stock actual.
		})
	}
	</script>
   <div class="container-fluid">
		<%- include('./partials/header.ejs') %>
		<div class="contenido">
			<div class="container carrito-contenedor-principal">
				 <div class="row">
				<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8"> 
				   <!-- <span class="tituloArticulos">Articulos<%= data.length %></span> -->
					<% for(articulo of data){ %>
					   <div class="articulo" id="<%= articulo.idproducts %>p<%= articulo.idsize %>" name="idArticulo">
					  <div class="row prueba">
						 <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<% if(typeof articulo.image != 'undefined') { %>
								<img class="foto-item-carrito" src="/images/articulos/<%= articulo.image %>" alt="" id="foto<%= articulo.idproducts %>">
							<% }else{ %>
								<img class="foto-item-carrito" src="/images/articulos/no_img.png" alt="" id="foto<%= articulo.idproducts %>">
							<% }%>
							
						 </div>
						 <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 detalle-item-carrito">
							<span class="precio-item-carrito">$<%= articulo.price %></span>
							<span class="titulo-item-carrito"><%= articulo.name %></span>
							<!-- <div class="selector-color-carrito"> -->
							<i>Talle: <%= articulo.size %></i>
							<label for="cantidadElegido<%= articulo.idproducts %>s<%= articulo.idsize %>">Cantidad</label>
							<select name="cantidad" class="form-control form-control-sm" id="cantidadElegido<%= articulo.idproducts %>s<%= articulo.idsize %>">
								<%for(var i = 1; i <= articulo.stock; i++){%>
									<option value="<%= i %>" <%= i == articulo.cantidad ? 'selected' : ''%>><%= i %></option>
								<%}%>
							</select>
							<script>
								agregarEvento("<%= articulo.idproducts %>","<%= articulo.idsize %>")
							</script>
							<button class="boton-slector-color" style="background-color: <%= articulo.color %>"></button>
							<!-- </div> -->
							
							<div class="botones-detalle-carrito">
								<div class="botones-fav-del-carrito">
									<div class="boton-favorito-carrito">
										<button class="heart-carrito far fa-heart" value="0" onclick="favoritos('<%= articulo.idproducts%>','<%= user.idusers %>')"
											id="favorito<%= articulo.idproducts%>"></button>


										<script>
											fetch("http://localhost:3000/api/products/itsfavorite/<%= user.idusers %>/<%= articulo.idproducts%>")
											.then(function(respuesta){
												return respuesta.json()
											})
											.then(function(info){
												var boton = document.getElementById("favorito<%= articulo.idproducts%>");
												console.log("asdasdasd",info)
												if(info == 1){
													boton.className = "heart-carrito fas fa-heart"
												}else{
													boton.className = "heart-carrito far fa-heart"
												}
											})
										</script>
									</div>
									<div class="boton-borrar-carrito">
										<script>
											function deleteItem(idproduct,idsize){
												var data = {
													idproduct: idproduct,
													idsize:idsize,
													iduser: <%= user.idusers %>
												}

												fetch("http://localhost:3000/api/products/cart/removeitem",{
													method: 'POST',
													body: JSON.stringify(data),
													headers: {
														'Content-type': 'application/json'
													}
												})
												.then(function(res){
													return res.json()
												})
												.then(function(res){
													var objArticulo = document.getElementById(idproduct+'p'+idsize);
													console.log("removiendo", objArticulo)
													objArticulo.remove();
													setTotales()
												})
											}
										</script>
										<button class="trash-carrito fas fa-trash-alt" onclick="deleteItem('<%= articulo.idproducts %>','<%= articulo.idsize %>')" name="borrar"></button>
									</div>
								</div>
								
							</div>
						 </div>
					  </div>
						   </div>
					<% } %>
				</div>
				  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
				   <div class="orden-de-compra">
						<label for="code-discount" class="order-titulo">Cupon de descuento</label>
						<div class="row">
							<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
								<input type="text" name="code-discount" id="code-discount" placeholder="Codigo de descuento" class="order-discount">
								<p class="font-weight-light text-center" id="mensajecupon"></p>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
								<button type="button" class="btn btn-dark" onclick="aplicarDescuento()">Aplicar</button>
							</div>
						</div>
						<label class="order-titulo">Resumen del pedido</label>
						<div class="row order-row">
						   <div class="col-6 order-text-amounts">
							   <span>Subtotal</span>
							   <span>Descuento</span>
							   <span>Total</span>
						   </div>
						   <div class="col-6  order-amounts">
								<span id="subtotal"></span>
								<span id="descuento"></span>
								<span id="total" name="total"></span>
							</div>
						</div>
						<button class="order-send" type="submit" id="pagarcarrito" onclick="sendPedido(<%= user.idusers %>)">Enviar pedido</button>
						<label class ="order-titulo">Aceptamos</label>
						<div class="medios-de-pago">
							<img src="/images/Mediosdepago/visa.png" alt="Visa">
							<img src="/images/Mediosdepago/mastercard.png" alt="Master Card">
							<img src="/images/Mediosdepago/cabal.png" alt="Tarjeta Cabal">
							<img src="/images/Mediosdepago/american-express.png" alt="American express">
							<img src="/images/Mediosdepago/naranja.jpg" alt="Tarjeta Naranja">
							<img src="/images/Mediosdepago/mastercard.png" alt="Maestro">
						  </div>
					  </div>
					</div>
				</div>
			</div> 
			
			<%- include('./partials/footer.ejs') %>
		</div>
   </div>
	<%- include('./partials/scriptBootstrap.ejs') %>
	<!-- <script>
			var comprar = document.getElementById("pagarcarrito");
			comprar.addEventListener("click",function(event){
				event.preventDefault();
				alert("Proximamente, esta es una version demo!!");
			})			
	</script> -->

<script>
	function seleccionarColor(id,rutaImagen,color){
		document.getElementById('foto'+id).src=rutaImagen;
		document.getElementById('elegido'+id).value=color;
		document.getElementById('nombreElegido'+id).innerHTML="Color elegido: "+color;
	}

	function favoritos(id,iduser) {
		latido();
		var objFavorito = document.getElementById('favorito' + id);
		// quitar de fav
		if (objFavorito.value == 1) {
			objFavorito.className = "heart-carrito far fa-heart";
			objFavorito.value = 0;
			fetch("http://localhost:3000/api/products/favorite",{
				method: 'POST',
				body: JSON.stringify({artId: id, userId: iduser, action: 'remove'}),
				headers: {
				'Content-Type': 'application/json'
				}
			})
		} else {
		// agregar a fav
			objFavorito.className = "heart-carrito fas fa-heart";
			objFavorito.value = 1;
			fetch("http://localhost:3000/api/products/favorite",{
				method: 'POST',
				body: JSON.stringify({artId: id, userId: iduser, action: 'add'}),
				headers: {
				'Content-Type': 'application/json'
				}
			})
		}
	}
</script>
<script>
	function aplicarDescuento(){
		var codigo = document.getElementById("code-discount").value;
		var data = {
			code: codigo
		} 
		fetch("http://localhost:3000/api/products/aplicarDescuento",
		{
			method: 'POST',
			body:JSON.stringify(data),
			headers: {
				'Content-Type': 'application/json'
			} 
		})
		.then(respuesta => {return respuesta.json()})
		.then(function(info){
			var objdescuentos = document.getElementById("descuento");
			var descuentos = Number(objdescuentos.innerHTML.substr(1,objdescuentos.innerHTML.length));
			var objsubtotal = document.getElementById("subtotal");
			var subtotal = Number(objsubtotal.innerHTML.substr(1,objsubtotal.innerHTML.length));
			var objtotal = document.getElementById("total");
			var total = Number(objtotal.innerHTML.substr(1,objtotal.innerHTML.length));
			var newDesc = 0;
			var objmensaje = document.getElementById("mensajecupon");
			if(info.estado == 200){
				console.log("INFO",info)
				if(info.cupon.percentage_amount > 0){
					newDesc = subtotal * (info.cupon.percentage_amount / 100)
				}
				if(info.cupon.cash_amount > 0){
					newDesc = newDesc + info.cupon.cash_amount
				}
				descuentos = descuentos + newDesc
				total = subtotal - descuentos;
				objdescuentos.innerHTML = "$"+descuentos;
				objtotal.innerHTML = "$"+total;
				objmensaje.style.color = 'green';
				objmensaje.innerHTML = "Cupon " + info.mensaje;
				console.log("TOTAL", total, "DESCUENTOS", descuentos)
			}else{
				objmensaje.style.color = 'red';
				objmensaje.innerHTML = "Cupon " + info.mensaje;
			}
		})

	}
	setTotales()
</script>


</body>

</html>