<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
	<script src="/js/funciones.js"></script>
   <div class="container-fluid">
		<%- include('./partials/header.ejs') %>
		<div class="contenido">
			<div class="container carrito-contenedor-principal">
				 <div class="row">
				<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8"> 
					<% let subtotal = 0 %>
					<% let descuentos = 0 %>
				   <!-- <span class="tituloArticulos">Articulos<%= data.length %></span> -->
					<% for(articulo of data){ %>
					   <div class="articulo" id="<%= articulo.idproducts %>" name="idArticulo">
					  <div class="row prueba">
						 <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<% if(typeof articulo.image != 'undefined') { %>
								<img class="foto-item-carrito" src="/images/articulos/<%= articulo.image %>" alt="" id="foto<%= articulo.idproducts %>">
							<% }else{ %>
								<img class="foto-item-carrito" src="/images/articulos/no_img.png" alt="" id="foto<%= articulo.idproducts %>">
							<% }%>
							
						 </div>
						 <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 detalle-item-carrito">
							<span class="precio-item-carrito"><%= articulo.price %></span>
							<span class="titulo-item-carrito"><%= articulo.name %></span>
							<% subtotal += Number(articulo.price) %>
							<% descuentos += Number(articulo.discount) %>
							<!-- <div class="selector-color-carrito"> -->
							<i>Talle: <%= articulo.size %></i>
							<!-- CANTIDAD -->
							<div class="selector-cantidad-carrito">
								<button onclick="cantidad('<%= articulo.idproducts %>','restar',<%= articulo.stock %>)" class="botones-cantidad">-</button>
								<input type="text" value="<%= articulo.cantidad %>" maxlength="3" class="cantidadCarrito" id="cantidadElegido<%= articulo.idproduct %>" name="cantidad"/>
								<button onclick="cantidad('<%= articulo.idproducts %>','sumar', <%= articulo.stock %>) " class="botones-cantidad">+</button>
								<div id="stockMax<%= articulo.idproducts%>"></div>
							</div>
							<button class="boton-slector-color" style="background-color: <%= articulo.color %>"></button>
							<!-- </div> -->
							
							<div class="botones-detalle-carrito">
								<div class="botones-fav-del-carrito">
									<div class="boton-favorito-carrito">
										<% if(articulo.favorito == 0){ %>
											<button class="heart-carrito fas fa-heart" value="1" onclick="favoritos('<%= articulo.idproducts %>')" id="favorito<%= articulo.idproducts %>" name="favorito"></button>
										<% }else{ %>
											<button class="heart-carrito far fa-heart" value="0" onclick="favoritos('<%= articulo.idproducts %>')" id="favorito<%= articulo.idproducts %>" name="favorito"></button>
										<% } %>	
									</div>
									<div class="boton-borrar-carrito">
										<script>
											function deleteItem(id){
												var objArticulo = document.getElementById(id);
												objArticulo.remove();
											}
										</script>
										<button class="trash-carrito fas fa-trash-alt" onclick="deleteItem('<%= articulo.idproducts %>')" name="borrar"></button>
									</div>
								</div>
								
							</div>
						 </div>
					  </div>
						   </div>
					<% } %>
				</div>
				  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
				   <div class="orden-de-compra">
						<label for="code-discount" class="order-titulo">Cupon de descuento</label>
						<input type="text" name="code-discount" id="code-discount" placeholder="32424249" class="order-discount" disabled>
						
						<label class="order-titulo">Resumen del pedido</label>
						<div class="row order-row">
						   <div class="col-6 order-text-amounts">
							   <span>Subtotal</span>
							   <span>Descuento</span>
							   <span>Total</span>
						   </div>
						   <div class="col-6  order-amounts">
								<span id="subtotal">$<%= subtotal %></span>
								<span id="descuento">$<%= descuentos %></span>
								<span id="total" name="total">$<%= (subtotal - descuentos) %> </span>
							</div>
						</div>
						<button class="order-send" type="submit" id="pagarcarrito" onclick="sendPedido(<%= user.idusers %>)">Enviar pedido</button>
						<label class ="order-titulo">Aceptamos</label>
						<div class="medios-de-pago">
							<img src="/images/Mediosdepago/visa.png" alt="Visa">
							<img src="/images/Mediosdepago/mastercard.png" alt="Master Card">
							<img src="/images/Mediosdepago/cabal.png" alt="Tarjeta Cabal">
							<img src="/images/Mediosdepago/american-express.png" alt="American express">
							<img src="/images/Mediosdepago/naranja.jpg" alt="Tarjeta Naranja">
							<img src="/images/Mediosdepago/mastercard.png" alt="Maestro">
						  </div>
					  </div>
					</div>
				</div>
			</div> 
			
			<%- include('./partials/footer.ejs') %>
		</div>
   </div>
	<%- include('./partials/scriptBootstrap.ejs') %>
	<!-- <script>
			var comprar = document.getElementById("pagarcarrito");
			comprar.addEventListener("click",function(event){
				event.preventDefault();
				alert("Proximamente, esta es una version demo!!");
			})			
	</script> -->

<script>
	function seleccionarColor(id,rutaImagen,color){
		document.getElementById('foto'+id).src=rutaImagen;
		document.getElementById('elegido'+id).value=color;
		document.getElementById('nombreElegido'+id).innerHTML="Color elegido: "+color;
	}

	function cantidad(id,operacion,maxStock){
		var objCantidad = document.getElementById('cantidadElegido'+id);
		if(operacion ==='sumar'){
			if(objCantidad.value < maxStock){
				objCantidad.value++;
				document.getElementById('stockMax'+id).innerHTML = "";
			}else{
				document.getElementById('stockMax'+id).innerHTML = "stock maximo";
			}
		}else{
			if(objCantidad.value>1){
				document.getElementById('stockMax'+id).innerHTML = "";
				objCantidad.value--;
			}
		}
		this.total();
	}

	function favoritos(id){
		var objFavorito = document.getElementById('favorito'+id);
		if(objFavorito.value == 1){
			objFavorito.className ="heart-carrito far fa-heart";
			objFavorito.value = 0;
		}else{
			objFavorito.className ="heart-carrito fas fa-heart";
			objFavorito.value = 1;
		}
	}
</script>


</body>

</html>