<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <script type="text/javascript">
            function rollover2(imgPrincipal, imgP1, imgP2, imgP3) {
                console.log(imgPrincipal);
                console.log(imgP1);
                console.log(imgP2);
                console.log(imgP3);
                var objPrincipal = document.getElementById('imagenPrincipal');
                var objImgPeque1 = document.getElementById('imgPeque1');
                var objImgPeque2 = document.getElementById('imgPeque2');
                var objImgPeque3 = document.getElementById('imgPeque3');

                objPrincipal.src = imgPrincipal;
                objImgPeque1.src = imgP1;
                objImgPeque2.src = imgP2;
                objImgPeque3.src = imgP3;

            }

            function rollover(id) {

                var objPrincipal = document.getElementById('imagenPrincipal');
                var objImgPeque = document.getElementById(id).src;
                objPrincipal.src = objImgPeque;

            }
        </script>
        <script src="/js/latido.js"></script>
        <div class="container-fluid">
            <%- include('./partials/header.ejs') %>
            <div class="contenido">
                <div class="container pd10">
                    <div class="row">
                        <div class="col-7">
                            <div class="row">
                                <div class="col-3 left-column">
                    
                                    <div class="row"> 
                                        <% for(let i = 1; i < productsOnSite.images.length; i++){%>
                                        <img class="imagenProducto" id="foto<%= productsOnSite.images[i].idimage %>"
                                            src="/images/articulos/<%= productsOnSite.images[i].file_name %>" onmouseover="rollover('foto<%= productsOnSite.images[i].idimage %>')"
                                            alt="">
                                        <%}%>
                                    </div>
                                    
                                </div>
                
                                <div class="col-9">
                                    <img class="imagenProducto" id="imagenPrincipal"
                                        src="/images/articulos/<%= productsOnSite.images[0].file_name %>" alt="">
                                </div>
                
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="row ">
                                <div class="col-1"></div>
                                <div class="col-11">
                                    <script>
                                        function seleccionarColor(id, rutaImagen, color) {
                                            document.getElementById('foto' + id).src = rutaImagen;
                                            document.getElementById('elegido' + id).value = color;
                                            document.getElementById('nombreElegido' + id).innerHTML = "Color elegido: " + color;
                                        }
                
                                        function favoritos(id,iduser) {
                                            latido();
                                            var objFavorito = document.getElementById('favorito' + id);
                                            // quitar de fav
                                            if (objFavorito.value == 1) {
                                                objFavorito.className = "heart-carrito far fa-heart";
                                                objFavorito.value = 0;
                                                fetch("https://mannequin-indumentaria.herokuapp.com/api/products/favorite",{
                                                    method: 'POST',
                                                    body: JSON.stringify({artId: id, userId: iduser, action: 'remove'}),
                                                    headers: {
                                                    'Content-Type': 'application/json'
                                                    }
                                                })
                                            } else {
                                            // agregar a fav
                                                objFavorito.className = "heart-carrito fas fa-heart";
                                                objFavorito.value = 1;
                                                fetch("https://mannequin-indumentaria.herokuapp.com/api/products/favorite",{
                                                    method: 'POST',
                                                    body: JSON.stringify({artId: id, userId: iduser, action: 'add'}),
                                                    headers: {
                                                    'Content-Type': 'application/json'
                                                    }
                                                })
                                            }
                                        }
                                        function borrar(id) {
                                            var objArticulo = document.getElementById(id);
                                            objArticulo.remove();
                                        }
                                    </script>
                                    <div class="row">
                                        <!-- NOMBRE -->
                                        <div class="col-12" style="margin-top:10px">
                                            <h4><%= productsOnSite.name%></h4>
                                        </div>
                                        <!-- PRECIO -->
                                        <div class="col-12">
                                            <h2 class="text-danger">$ <%= productsOnSite.price%></h2>
                                        </div>
                                        <!-- COLORES -->
                                        <div class="col-12">
                                            <div id="contenedor-colores">
                                                <p id="nombreElegido" class="color-elegido">Colores:</p>
                                                <% for(let i = 0; i< productsOnSiteGroup.length; i++){%>
                                                    <script>
                                                        /* Creo boton */
                                                        var botonColor = document.createElement('button');
                                                        botonColor.style.backgroundColor = "<%= productsOnSiteGroup[i].color %>"
                                                        botonColor.className = "boton-slector-color";
                                                        /* Logica del onclick */
                                                        botonColor.addEventListener("click",function(){
                                                            window.location.assign('/detalleProducto/<%= productsOnSiteGroup[i].idproducts%>')
                                                        });
                                                        document.getElementById("contenedor-colores").appendChild(botonColor);
                                                    </script>
                                                <%}%>
                                            </div>
                                        </div>
                                        <!-- TALLES -->
                                        <div class="col-12">
                                            <div>
                                                <p class="color-elegido">Talles:</p>
                                                <script>
                                                    function elegirTalle(id){
                                                        var talles = document.querySelector("#talles<%= productsOnSite.idproducts%>")
                                                        if(talles.querySelector("#"+id).className == "boton-talle"){
                                                            /* restauro el anterior*/
                                                            var talleAnterior = talles.querySelector(".boton-talle-elegido");
                                                            if(talleAnterior){
                                                                talleAnterior.className = "boton-talle"
                                                            }
                                                            /* Actualizo el elegido*/
                                                            talles.querySelector("#"+id).className = "boton-talle-elegido";
                                                        }else{
                                                            talles.querySelector("#"+id).className = "boton-talle";
                                                        }
                                                        
                                                    }
                                                </script>
                                                <div id="talles<%= productsOnSite.idproducts%>">
                                                    <div>
                                                        <% for(let s = 0; s < productsOnSite.sizes.length; s++){%>
                                                            <% if(s == 0){%>
                                                                <button class="boton-talle-elegido" onclick="elegirTalle('talle<%= productsOnSite.sizes[s].idsizes %>')" id="talle<%= productsOnSite.sizes[s].idsizes %>"><%= productsOnSite.sizes[s].name %></button>
                                                            <%}else{%>
                                                                <button class="boton-talle" onclick="elegirTalle('talle<%= productsOnSite.sizes[s].idsizes %>')" id="talle<%= productsOnSite.sizes[s].idsizes %>"><%= productsOnSite.sizes[s].name %></button>
                                                            <%}%>
                                                        <%}%>
                                                        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg" >Guia de talles</button>
                                                    </div>
                                                </div>
                                                
                                                
                                            </div>
                                        </div>
                                        
                                        <!-- DESCRIPCION -->
                                        <div class="col-12">
                                            <div>
                                                <p class="color-elegido">Detalle:</p>
                                                <i><%= productsOnSite.description%></i>
                                            </div>
                                        </div>

                                        <!-- FAVORITO -->
                                        <div class="col-12 mt-4">
                                            <% if(user != undefined){%>
                                            <div class="text-center">
                                                <div class="boton-favorito-carrito" >
                                                    <button class="heart-carrito far fa-heart" value="0" onclick="favoritos('<%= productsOnSite.idproducts%>','<%= user.idusers %>')"
                                                        id="favorito<%= productsOnSite.idproducts%>"></button>
                                                        <a href="#" onclick="favoritos('<%= productsOnSite.idproducts%>','<%= user.idusers %>')" class="text-dark">
                                                            <span>Agregar a favoritos</span>
                                                        </a>

                                                    <script>
                                                        fetch("https://mannequin-indumentaria.herokuapp.com/api/products/itsfavorite/<%= user.idusers %>/<%= productsOnSite.idproducts%>")
                                                        .then(function(respuesta){
                                                            return respuesta.json()
                                                        })
                                                        .then(function(info){
                                                            var boton = document.getElementById("favorito<%= productsOnSite.idproducts%>");
                                                            console.log("asdasdasd",info)
                                                            if(info == 1){
                                                                boton.className = "heart-carrito fas fa-heart"
                                                            }else{
                                                                boton.className = "heart-carrito far fa-heart"
                                                            }
                                                        })
                                                    </script>
                                                    
                                                </div>
                                            </div>
                                            <%}%>
                                        </div>
                                        
                                        <div class="col-12 mt-3 mb-3">
                                            <button class="btn btn-dark btn-lg btn-block" id="addBag"> Agregar al carrito </button>
                                            <script>
                                                var addBag2 = document.getElementById("addBag");
                                                <% if(user != undefined){%>
                                                    addBag2.addEventListener("click",function(){
                                                    var talle = '1';
                                                    var tt = document.getElementsByClassName("boton-talle-elegido")[0];
                                                    if(typeof tt != 'undefined'){
                                                        talle = tt.id.replace("talle", "");
                                                    }
                                                    newitem();
                                                    fetch("https://mannequin-indumentaria.herokuapp.com/api/products/cart",{
                                                            method: 'POST',
                                                            body: JSON.stringify({artId: <%= productsOnSite.idproducts%>, userId: <%= user.idusers %>, sizeId: talle}),
                                                            headers: {
                                                            'Content-Type': 'application/json'
                                                            }
                                                    })
                                                })
                                                <%}else{%>
                                                    addBag2.style.display = "none"
                                                <%}%>
                                            </script>
                                        </div>

                                        <!-- REDES -->
                                        <div class="col-12">

                                            <p>
                                                <a class="btn btn-light btn-lg btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                    <i class="fas fa-share-alt-square" style="font-size: 30px;"></i>
                                                    Compartir
                                                </a>
                                            </p>

                                              <div class="collapse" id="collapseExample">
                                                <div class="card card-group text-center">
                                                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://mannequin-indumentaria.herokuapp.com/detalleProducto/<%= productsOnSite.idproducts%>" target="_blank" class="mr-3">
                                                        <i class="fab fa-facebook-square" style="font-size: 50px; color: #3b5998"></i>
                                                    </a>
                                                    <a href="https://twitter.com/intent/tweet?text=Mannequin%0A<%= productsOnSite.name%>%0A<%= productsOnSite.description%>%0Ahttps://mannequin-indumentaria.herokuapp.com/detalleProducto/<%= productsOnSite.idproducts%>" target="_blank" class="mr-3">
                                                        <i class="fab fa-twitter-square" style="font-size: 50px; color: #00acee"></i>
                                                    </a>
                                                    <a href=" https://wa.me/?text=Mannequin%0A<%= productsOnSite.name%>%0A<%= productsOnSite.description%>%0Ahttps://mannequin-indumentaria.herokuapp.com/detalleProducto/<%= productsOnSite.idproducts%>" target="_blank" class="mr-3">
                                                        <i class="fab fa-whatsapp-square" style="font-size: 50px; color: #25d366"></i>
                                                    </a>
                                                    <a href="https://pinterest.com/pin/create/button/?url=http%3A//localhost%3A3000/detalleProducto/<%= productsOnSite.idproducts%>&media=http%3A//localhost%3A3000/images/articulos/<%= productsOnSite.images[0].file_name %>&description=<%= productsOnSite.description%>" target="_blank" class="mr-3">
                                                        <i class="fab fa-pinterest-square" style="font-size: 50px; color: #bd081c"></i>
                                                    </a>
                                                    
                                                    
                                                </div>
                                              </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        
                    </div>
                </div>
                <%- include('./partials/galeriaNuevaTemporada.ejs') %>

                <%- include('./partials/galeriaSale.ejs') %>

                <%- include('./partials/footer.ejs') %>
            </div>
        </div>
        <%- include('./partials/scriptBootstrap.ejs') %>
        <script>

        </script>

        <div class="modal fade bd-example-modal-lg" id="tallesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="tallesModalLabel">Guia de talles</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="/images/otras/talles.png" alt="" width="100%" >
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Salir</button>
                </div>
              </div>
            </div>
          </div>
          
    </body>
</html>