<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container-fluid">
      <%- include('./partials/header.ejs') %>

      <%- include('./partials/banner.ejs') %> 

       <%- include('./partials/galeriaNuevaTemporada.ejs') %> 

<div class="container-fluid nombre">
<div class="row prueba">
<img src="/images/bannDos.jpg">
</div>
</div>

      <%- include('./partials/galeriaSale.ejs') %> 
      
      <%- include('./partials/footer.ejs') %>

      <%- include('./partials/scriptBootstrap.ejs') %>
      
    </div>
  </body>

</html>
