<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container-fluid">
      <%- include('./partials/header.ejs') %>
      <div class="contenido">
        <%- include('./partials/banner.ejs') %> 

        <%- include('./partials/galeriaNuevaTemporada.ejs') %> 

        <div class="container nombre">
          <div class="row prueba">
            <img src="/images/banner/bannDos.jpg">
          </div>
        </div>

        <%- include('./partials/galeriaSale.ejs') %> 
        
        <%- include('./partials/footer.ejs') %>

        <%- include('./partials/scriptBootstrap.ejs') %>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>

</html>
