<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container-fluid">
      <%- include('./partials/header.ejs') %>
      <div class="contenido">
       <%- include('./partials/registerForm.ejs') %>
       <%- include('./partials/footer.ejs') %>
      </div>
    </div>
      <%- include('./partials/scriptBootstrap.ejs') %>
  </body>

</html>